<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!--importando o link css do Boxicons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Tocador de músicas</title>
</head>
<body>
    <div class="box-player">
        <div class="imagem">
            <img src="album-coldplay.jpg" alt="album-coldplay">
        </div>

        <span id="NameMusic"></span>
        <audio id="player" src=""></audio>

        <!--controles de próximo botão, botão de play  pause e botão de -->
        <div class="controls">
            <button id="prevButton">
                <i class="bx bx-skip-previous"></i>
            </button>

            <button id="botaoPlayPause">
                <i class="bx bx-caret-right"></i>
            </button>

            <button id="nextButton">
                <i class="bx bx-skip-next"></i>
            </button>
        </div>
    </div>
    <script type="module" src="script.js"></script>
</body>
</html>