<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout06.css">
    <title>imagens</title>
</head>
<body>
    <div class="container">
        <h1 class="titulo">linguagens estudadas</h1>    
        <div class="box-container">
            <div class="box">
                <img src="./imagens/HTML5.png" alt="html5">
                <h3>HTML</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, sapiente aliquid maxime, eligendi nemo a soluta temporibus ea consectetur repudiandae ab obcaecati dolores cupiditate, ipsum quos laudantium dignissimos. Voluptatum, laudantium.</p>
                <a href="#" class="btn">Saiba mais</a>
            </div>

            <div class="box">
                <img src="./imagens/CSS3.png" alt="css">
                <img src="./imagens/CSS.png" alt="css">

                <h3>CSS</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur eligendi atque voluptate quam laudantium qui, labore magni reiciendis vel in. Blanditiis minus aut porro qui, vitae incidunt corrupti delectus corporis.</p>
                <a href="#" class="btn">Saiba mais</a>
            </div>

            <div class="box">
                <img src="./imagens/JavaScript.png" alt="JavaScript">
                <h3>JavaScript</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla iusto doloribus reprehenderit minus odio, id ipsa ut deserunt fugit eveniet. Tempora doloribus inventore commodi dolorum laboriosam, porro quae itaque animi.</p>
                <a href="#" class="btn">Saiba mais</a>
            </div>

            <div class="box">
                <img src="./imagens/React.png" alt="React">
                <h3>React</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam tenetur nostrum, deleniti odio nobis ab veritatis earum, cumque necessitatibus molestiae esse, possimus quis labore repellat soluta. Nemo illum deserunt tenetur!</p>
                <a href="#" class="btn">Saiba mais</a>
            </div>

            <div class="box">

                <img src="./imagens/Angular.png" alt="Angular">

                <h3>Angular</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, delectus quae provident magnam accusamus explicabo aspernatur culpa vero nostrum esse! Hic quidem sit laudantium totam doloremque nesciunt, corporis ipsam eius.</p>
                <a href="#" class="btn">Saiba mais</a>
            </div>

            <div class="box">
                <img src="./imagens/JQuery.png" alt="JQuery">
                <h3>JQuery</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur eveniet, ipsum ex fugit deserunt accusamus a porro repellat fugiat expedita quidem earum, ipsa consectetur sapiente incidunt ab eaque nam? Illo.</p>
                <a href="#" class="btn">Saiba mais</a>
            </div>
        </div>   
    </div>
</body>
</html>
