<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout03.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="#" id="logo"><img src="imagens/coca-cola-logo.png" alt="coca-cola-logo"></a>
    </header>
    <nav id="menu">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Produtos</a>
        <a href="#">Contatos</a>
    </nav>
    <main>main</main>
    <aside>aside</aside>
    <footer>footer</footer>
</body>
</html>
