
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="layout04.css">
    <title>lAYOUT 4</title>
</head>
<body>
    <header>
        <a href="#" id="logo">
            <img src="./imagens/burger-king.png" alt="burger-king" width="80" height="80">
        </a>
        <nav id="menu">
            <a href="#">início</a>
            <a href="#">Cupom</a>
            <a href="#">Cardápio</a>
            <a href="#">App BK</a>
        </nav>
    </header>

    <main></main>
    <aside></aside>
    <footer></footer>
</body>
</html>