<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sytle.css">
    <title>Desafio 2</title>
</head>
<body>
    <header>
        <a href="#" id="logo">
            <img src="./img/coffee-logo.png" alt="coffee-logo" width="80" height="80">
            <p>CoffeeShop</p>
        </a>
        <nav>
            <a href="#">Menu</a>
            <a href="#">Nossos Produtos</a>
            <a href="#">Sobre Nós</a>
            <a href="#">Encontre uma Loja</a>
        </nav>
    </header>
    <main>
        
        <div class="box-imagem">
            <div class="conteudo">
                <p id="colortext">Inscreva-se Agora</p>
                <h1>na CoffeeShop</h1>
            
                <p id="texto">Descubra uma experiência única de café, cuidadosamente elaborada para despertar seus sentidos e elevar seu paladar a novos patamares. Nossa seleção premium de grãos é cultivada em algumas das regiões mais renomadas do mundo, onde cada colheita é tratada com reverência e cuidado para garantir a qualidade incomparável que você</p>
            
                <div class="form-group">
                    <input type="text" name="nome" id="inome" placeholder="nome" required>
                </div>
            
                <div class="form-group">
                    <input type="email" name="email" id="iemail" placeholder="email" required>
                </div>
              
                <input type="submit" value="Enviar">
            </div>
        </div>

    </main> 
</body>
</html>